<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="header">
            <nav class="container">
                <ul>
                    <li><a href="#">Logo_empresa</a>
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path('noticia.destaque') }}">Notícias</a></li>
                        <li><a href="{{ path('user') }}">Editar dados</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('noticia.admin') }}">Notícias</a></li>
                        <li><a href="{{ path('user.admin') }}">Usuários</a></li>
                    {% endif %}
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <section class="container main">
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
